*.rbc
*.swp
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
bin
vendor/gems
vendor/bundle
.DS_Store
log
config/favorite_channels.json
config/config.toml
app/public/logos/*png
app/public/logos/*gif
app/public/logos/*jpg
app/public/snapshots/*
