<center>
  <div class="alert alert-block alert-info hide">
    <h4></h4>
  </div>
  <div id="player"></div>
    <script>
      var player = new Clappr.Player({source: "/channels/<%= @channel %>.m3u8", parentId: "#player"});
    </script>
</center> 
