<table class="table table-bordered table-striped">
  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td>
          <a class="channel" href="/channels/<%= channel['GuideNumber'] %>/tune?wait=true" data-channel="<%= channel['GuideNumber'] %>">
            <%= "#{channel['GuideNumber']} - #{channel['GuideName']}" %>
          </a>
          <i class="icon-star-empty pull-right"></i>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
