<video id="my_video_1" class="video-js vjs-default-skin" preload="auto" width="640" height="360" data-setup="{}" controls>
  <source src="http://desky.local:8888/channels/512.m3u8" type='application/vnd.apple.mpegurl'>
</video>
<table class="table table-bordered table-striped">
  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td>
          <a class="channel" href="/channels/<%= channel['GuideNumber'] %>/tune?wait=true" data-channel="<%= channel['GuideNumber'] %>">
            <%= "#{channel['GuideNumber']} - #{channel['GuideName']}" %>
          </a>
          <i class="icon-star-empty pull-right"></i>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
