<!DOCTYPE html>
<html>
  <head>
    <title>Wallop</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='/css/bootstrap-responsive.min.css' rel='stylesheet' type='text/css'>
    <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/coffeescript" src="/js/src/channel.coffee"></script>
    <script type="text/coffeescript" src="/js/src/channels.coffee"></script>
    <script src="/js/coffee-script.js"> </script>

    <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/c/video.js"></script>

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">
            Wallop
          </a>
          <ul class="nav">
            <li class="<%= 'active' if params[:type] == 'favorites' %>"><a href="/channels?type=favorites">Favorites</a></li>
            <li class="<%= 'active' if params[:type] == 'hd' %>"><a href="/channels?type=hd">HD</a></li>
            <li class="<%= 'active' if params[:type] == nil %>"><a href="/channels">All</a></li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
